body{
    background-image: url(/newproject/image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
nav{
    width: 100vw;
    height: 15vh;
}
.red img{
    height:40px;
}